Server-gRPC/src/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- elemento root -->
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        
        <!-- múltiplos jogadores -->
        <xsd:element name="jogador" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>

              <!-- CAMPOS DO JOGADOR -->
              <xsd:element name="name" type="xsd:string"/>
              <xsd:element name="full_name" type="xsd:string"/>
              <xsd:element name="birth_date" type="xsd:string"/>
              <xsd:element name="age" type="xsd:string"/>
              <xsd:element name="height_cm" type="xsd:string"/>
              <xsd:element name="weight_kgs" type="xsd:string"/>
              <xsd:element name="positions" type="xsd:string"/>
              <xsd:element name="nationality" type="xsd:string"/>
              <xsd:element name="overall_rating" type="xsd:string"/>
              <xsd:element name="potential" type="xsd:string"/>
              <xsd:element name="value_euro" type="xsd:string"/>
              <xsd:element name="wage_euro" type="xsd:string"/>
              <xsd:element name="preferred_foot" type="xsd:string"/>
              <xsd:element name="international_reputation_1_5_" type="xsd:string"/>
              <xsd:element name="weak_foot_1_5_" type="xsd:string"/>
              <xsd:element name="skill_moves_1_5_" type="xsd:string"/>
              <xsd:element name="body_type" type="xsd:string"/>
              <xsd:element name="release_clause_euro" type="xsd:string"/>
              <xsd:element name="national_team" type="xsd:string"/>
              <xsd:element name="national_rating" type="xsd:string"/>
              <xsd:element name="national_team_position" type="xsd:string"/>
              <xsd:element name="national_jersey_number" type="xsd:string"/>
              <xsd:element name="crossing" type="xsd:string"/>
              <xsd:element name="finishing" type="xsd:string"/>
              <xsd:element name="heading_accuracy" type="xsd:string"/>
              <xsd:element name="short_passing" type="xsd:string"/>
              <xsd:element name="volleys" type="xsd:string"/>
              <xsd:element name="dribbling" type="xsd:string"/>
              <xsd:element name="curve" type="xsd:string"/>
              <xsd:element name="freekick_accuracy" type="xsd:string"/>
              <xsd:element name="long_passing" type="xsd:string"/>
              <xsd:element name="ball_control" type="xsd:string"/>
              <xsd:element name="acceleration" type="xsd:string"/>
              <xsd:element name="sprint_speed" type="xsd:string"/>
              <xsd:element name="agility" type="xsd:string"/>
              <xsd:element name="reactions" type="xsd:string"/>
              <xsd:element name="balance" type="xsd:string"/>
              <xsd:element name="shot_power" type="xsd:string"/>
              <xsd:element name="jumping" type="xsd:string"/>
              <xsd:element name="stamina" type="xsd:string"/>
              <xsd:element name="strength" type="xsd:string"/>
              <xsd:element name="long_shots" type="xsd:string"/>
              <xsd:element name="aggression" type="xsd:string"/>
              <xsd:element name="interceptions" type="xsd:string"/>
              <xsd:element name="positioning" type="xsd:string"/>
              <xsd:element name="vision" type="xsd:string"/>
              <xsd:element name="penalties" type="xsd:string"/>
              <xsd:element name="composure" type="xsd:string"/>
              <xsd:element name="marking" type="xsd:string"/>
              <xsd:element name="standing_tackle" type="xsd:string"/>
              <xsd:element name="sliding_tackle" type="xsd:string"/>

            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
